<ion-header [translucent]="true" [hidden]="scanActive">
  <ion-toolbar color="primary">
    <ion-title>
      Buscar artículo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [hidden]="scanActive" [style.--background]="scanActive ? '#00000000' : '#ffffff'">
  <h4 style="margin-left:15px">Busca un artículo por su código de barra.</h4><br>

  <ion-button (click)="startScanner()" expand="full" shape="round">
    Escanear código
  </ion-button><br>

  <ion-card *ngIf="result">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-text color="secondary">
          <p><b>ID: {{ result.barcode }}</b></p>
        </ion-text>
      </ion-card-subtitle>
      <ion-card-title>{{ result.name }}</ion-card-title>
      <ion-card-subtitle>
        <ion-text color="medium">
          <p><b>Precio:</b> ${{ result.price }} MXN - <b>Disponible:</b> {{ result.quantity }}</p>
        </ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ result.description }}
      <p>{{ result.modified | date:'medium' }}</p>
    </ion-card-content>
  </ion-card>

  <img src="../assets/slides/search.png" id="search-bg"/>

</ion-content>


<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button (click)="stopScanner()" expand="block" shape="round">
      Detener
    </ion-button>
  </ion-col>
</ion-row>

<div class="scan-box" [hidden]="!scanActive"></div>

