<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Lista de inventario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list #inventory>
    <ion-list-header>
      <ion-label>Artículos</ion-label>
    </ion-list-header>
    <ion-button (click)="loadItems()" color="success" expand="block" shape="round">
      Actualizar
    </ion-button>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-label text-wrap>
          <h2>{{ item.name }}</h2>
          <ion-text color="secondary">
            <p>{{ item.description }}</p>
          </ion-text>
          <ion-text color="danger">
            <p>ID: {{ item.barcode }}</p>
          </ion-text>
          <p>{{ item.modified | date:'medium' }}</p>
        </ion-label>
        <ion-label slot="end" class="ion-text-right"><h3><b>Disponibles:</b> {{ item.quantity }} <br> <b>Precio:</b> ${{ item.price }} MXN</h3></ion-label>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="success" (click)="addOrRemoveOne(item, true)">Añadir 1</ion-item-option>
        <ion-item-option color="secondary" (click)="addOrRemoveOne(item, false)">Quitar 1</ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="presentModal(item)">Editar</ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item)">Borrar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
</ion-content>
