<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Lista de inventario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list #inventory>
    <ion-list-header>
      <ion-label>Artículos</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-label text-wrap>
          <h3>{{ item.name }}</h3>
          <ion-text color="secondary">
            <p>{{ item.description }}</p>
          </ion-text>
          <p>{{ item.modified | date:'short' }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="updateItem(item)">Editar</ion-item-option>
        <ion-item-option color="danger" (click)="deleteItem(item)">Borrar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-button (click)="loadItems()" color="success" expand="full" shape="round">
      Actualizar
    </ion-button>
    
  </ion-list>
</ion-content>
